.CreatedTests{
    height: auto;
    float: left;
    text-align: left;
    width: 70%;
    margin-left:15%;
    

    .Pagetitle{
        font-size: 40px;
        font-family: "Times New Roman", Times, serif;
    }
}