.NeactivatListPage{
    float: left;
    text-align: left;
    width: 60%;
    margin-left: 20%;
    
    ul{
        overflow-y: scroll;
        height: 450px;
    }


    .Pagetitle{
        font-size: 30px;
        font-family: "Times New Roman", Times, serif;
    }
}